# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
    'atom-text-editor': [
        'label': 'existdb'
        'submenu': [
            {
                'label': 'Upload Current File'
                'command': 'existdb:upload-current'
            },
            {
                'label': 'Toggle Database View'
                'command': 'existdb:toggle-tree-view'
            }
        ]
    ],
    'atom-text-editor[data-grammar="source xq"]': [
        'label': 'existdb'
        'submenu': [
            {
              'label': 'Run XQuery'
              'command': 'existdb:run'
            },
            {
              'label': 'File Symbols'
              'command': 'existdb:file-symbols'
            },
            {
              'label': 'Rename Variable'
              'command': 'existdb:rename-variable'
            }
        ]
    ],
    '.tree-view': [
        { 'type': 'separator' }
        { 'label': 'eXistdb', 'submenu': [
            { 'label': 'Upload selected', 'command': 'existdb:upload-selected' }
        ]}
        { 'type': 'separator' }
    ],
    '.tree-view .file span[data-name *= ".xar"]': [
        { 'label': 'eXistdb', 'submenu': [
            { 'label': 'Deploy Package', 'command': 'existdb:deploy' }
        ]}
    ],
    '.tree-view .project-root > .list-item': [
        { 'label': 'eXistdb', 'submenu': [
            {
                'label': 'Edit Configuration for Project'
                'command': 'existdb:create-configuration-for-selected'
            }
            # {
            #     'label': 'Synchronize server <-> local'
            #     'command': 'existdb:sync-project'
            # }
        ]}
    ],
    '.existdb-tree .collection': [
        {
            'label': 'Refresh'
            'command': 'existdb:reload-tree-view'
        },
        {
            'label': 'New Resource'
            'command': 'existdb:new-file'
        },
        {
            'label': 'New Collection'
            'command': 'existdb:new-collection'
        },
        {
            'label': 'Remove'
            'command': 'existdb:remove-resource'
        },
        {
            'label': 'Reindex'
            'command': 'existdb:reindex'
        }
    ],
    '.existdb-tree .icon-package': [
        {
            'label': 'Open Package in Browser'
            'command': 'existdb:open-in-browser'
        },
        {
            'label': 'Synchronize to directory'
            'command': 'existdb:sync'
        }
    ],
    '.existdb-tree .resource': [
        {
            'label': 'Remove'
            'command': 'existdb:remove-resource'
        }
    ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'existdb'
      'submenu': [
        {
          'label': 'Run XQuery'
          'command': 'existdb:run'
        },
        {
          'label': 'File Symbols'
          'command': 'existdb:file-symbols'
        },
        {
            'label': 'Upload Current File'
            'command': 'existdb:upload-current'
        },
        {
          'label': 'Rename Variable'
          'command': 'existdb:rename-variable'
        },
        {
            'label': 'Toggle Database View'
            'command': 'existdb:toggle-tree-view'
        },
        {
            'label': 'Reconnect'
            'command': 'existdb:reconnect'
        },
        {
            'label': 'Edit Server Configuration'
            'command': 'existdb:edit-configuration'
        },
        {
            'label': 'Edit Configuration for Current Project'
            'command': 'existdb:create-configuration-for-current'
        }
      ]
    ]
  }
]
