# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
    'atom-text-editor': [
        {
          'label': 'Run XQuery'
          'command': 'existdb:run'
        },
        {
          'label': 'File Symbols'
          'command': 'existdb:file-symbols'
        },
        {
            'label': 'Upload Current File'
            'command': 'existdb:upload'
        },
        {
            'label': 'Toggle Database View'
            'command': 'existdb:toggle-tree-view'
        }
    ],
    '.existdb-tree .collection': [
        {
            'label': 'Refresh'
            'command': 'existdb:reload-tree-view'
        },
        {
            'label': 'New Resource'
            'command': 'existdb:new-file'
        },
        {
            'label': 'New Collection'
            'command': 'existdb:new-collection'
        },
        {
            'label': 'Remove'
            'command': 'existdb:remove-resource'
        },
        {
            'label': 'Reindex'
            'command': 'existdb:reindex'
        }
    ],
    '.existdb-tree .resource': [
        {
            'label': 'Remove'
            'command': 'existdb:remove-resource'
        }
    ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'existdb'
      'submenu': [
        {
          'label': 'Run XQuery'
          'command': 'existdb:run'
        },
        {
          'label': 'File Symbols'
          'command': 'existdb:file-symbols'
        },
        {
            'label': 'Upload Current File'
            'command': 'existdb:upload'
        },
        {
            'label': 'Toggle Database View'
            'command': 'existdb:toggle-tree-view'
        },
        {
            'label': 'Reconnect'
            'command': 'existdb:reconnect'
        }
      ]
    ]
  }
]
