'.source.xq':
  'editor':
    'commentStart': '(: '
    'commentEnd': ' :)'
    'increaseIndentPattern': '[\\({]\\s*$|<[^>]+>\\s*$|(then|return)\\s*$|let.*:=\\s*$|typeswitch\s*\\(.*\\)\\s*$'
    'decreaseIndentPattern': '^\\s*[)}]|^\\s*</[^>]+>'