# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'.platform-darwin atom-workspace':
    'cmd-ctrl-e': 'existdb:toggle-tree-view'
    'cmd-ctrl-u': 'existdb:deploy-latest'

'.platform-darwin atom-text-editor[data-grammar="source xq"]':
    'ctrl-cmd-enter': 'existdb:run'
    'cmd-ctrl-r': 'existdb:file-symbols'
    'cmd-alt-g': 'existdb:goto-definition'
    'cmd-alt-v': 'existdb:rename-variable'
    'alt-up': 'existdb:expand-selection'
    'cmd-i': 'existdb:import-module'

'.platform-linux atom-workspace':
    'ctrl-alt-e': 'existdb:toggle-tree-view'
    'ctrl-alt-u': 'existdb:deploy-latest'

'.platform-linux atom-text-editor[data-grammar="source xq"]':
    'alt-shift-enter': 'existdb:run'
    'ctrl-alt-r': 'existdb:file-symbols'
    'ctrl-alt-g': 'existdb:goto-definition'
    'ctrl-alt-v': 'existdb:rename-variable'
    'alt-up': 'existdb:expand-selection'
    'ctrl-i': 'existdb:import-module'

'.platform-win32 atom-workspace':
    'ctrl-alt-e': 'existdb:toggle-tree-view'
    'ctrl-alt-u': 'existdb:deploy-latest'

'.platform-win32 atom-text-editor[data-grammar="source xq"]':
    'alt-shift-enter': 'existdb:run'
    'ctrl-alt-r': 'existdb:file-symbols'
    'ctrl-alt-g': 'existdb:goto-definition'
    'ctrl-alt-v': 'existdb:rename-variable'
    'alt-up': 'existdb:expand-selection'
    'ctrl-i': 'existdb:import-module'
