# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'.platform-darwin atom-workspace':
    'ctrl-enter': 'existdb:run'
    'cmd-ctrl-r': 'existdb:file-symbols'
    'cmd-alt-e': 'existdb:toggle-tree-view'
    'cmd-alt-g': 'existdb:goto-definition'
    'cmd-alt-r': 'existdb:rename-variable'
    'alt-up': 'existdb:expand-selection'

'.platform-linux atom-workspace':
    'alt-shift-enter': 'existdb:run'
    'ctrl-shift-r': 'existdb:file-symbols'
    'ctrl-alt-e': 'existdb:toggle-tree-view'
    'ctrl-alt-g': 'existdb:goto-definition'
    'ctrl-shift-r': 'existdb:rename-variable'
    'alt-up': 'existdb:expand-selection'

'.platform-win32 atom-workspace':
    'alt-shift-enter': 'existdb:run'
    'ctrl-shift-r': 'existdb:file-symbols'
    'ctrl-alt-e': 'existdb:toggle-tree-view'
    'ctrl-alt-g': 'existdb:goto-definition'
    'ctrl-shift-r': 'existdb:rename-variable'
    'alt-up': 'existdb:expand-selection'
